<style>
    .olList li {
        color: blue;
        background-color: aqua;
        margin: 5px;
        padding: 20px;
        border-radius: 10px;
    }
</style>

<ol class="olList" type="1">
    <li>
        Hi Abhay
    </li>
    <li>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro eum officiis, eligendi doloremque optio
        atque rerum temporibus mollitia! Officia recusandae consequuntur quis totam, accusantium at saepe adipisci
        pariatur! Assumenda, cumque.
        Amet quidem eius debitis, enim voluptatem ipsum velit, optio voluptatum laudantium eum quo laborum
        doloribus. Illum dolore debitis recusandae sapiente earum assumenda? Facilis, neque! Nostrum earum rerum
        alias recusandae? Debitis!
        Necessitatibus expedita, temporibus facilis numquam accusamus nemo placeat officiis. Ex praesentium
        veritatis autem dolorem sequi ab deleniti. Rem ex vitae, illo earum beatae debitis nisi vero tempora dolorem
        repudiandae officia.
        Distinctio corporis ad necessitatibus rerum doloremque veniam recusandae est! Accusantium tempora, harum
        dolorem, labore velit beatae dolores impedit facere consequatur sit mollitia laboriosam veritatis. Officiis
        modi omnis ipsam neque voluptate.
        Vitae, dolorum provident quis iste perferendis architecto atque. Sed quasi dolore quidem earum
        reprehenderit, nostrum, itaque nesciunt minus autem voluptate eaque. Hic corporis dolore numquam rem
        mollitia distinctio quo doloremque?
        At nulla, quasi repellendus quia placeat ad aliquid voluptas praesentium excepturi perspiciatis illum cumque
        molestias voluptatum, non et saepe. Totam est commodi perspiciatis eum reiciendis rem alias perferendis
        neque nesciunt.
    </li>
    <li>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro eum officiis, eligendi doloremque optio
        atque rerum temporibus mollitia! Officia recusandae consequuntur quis totam, accusantium at saepe adipisci
        pariatur! Assumenda, cumque.
        Amet quidem eius debitis, enim voluptatem ipsum velit, optio voluptatum laudantium eum quo laborum
        doloribus. Illum dolore debitis recusandae sapiente earum assumenda? Facilis, neque! Nostrum earum rerum
        alias recusandae? Debitis!
        Necessitatibus expedita, temporibus facilis numquam accusamus nemo placeat officiis. Ex praesentium
        veritatis autem dolorem sequi ab deleniti. Rem ex vitae, illo earum beatae debitis nisi vero tempora dolorem
        repudiandae officia.
        Distinctio corporis ad necessitatibus rerum doloremque veniam recusandae est! Accusantium tempora, harum
        dolorem, labore velit beatae dolores impedit facere consequatur sit mollitia laboriosam veritatis. Officiis
        modi omnis ipsam neque voluptate.
        Vitae, dolorum provident quis iste perferendis architecto atque. Sed quasi dolore quidem earum
        reprehenderit, nostrum, itaque nesciunt minus autem voluptate eaque. Hic corporis dolore numquam rem
        mollitia distinctio quo doloremque?
        At nulla, quasi repellendus quia placeat ad aliquid voluptas praesentium excepturi perspiciatis illum cumque
        molestias voluptatum, non et saepe. Totam est commodi perspiciatis eum reiciendis rem alias perferendis
        neque nesciunt.
    </li>
    <li>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro eum officiis, eligendi doloremque optio
        atque rerum temporibus mollitia! Officia recusandae consequuntur quis totam, accusantium at saepe adipisci
        pariatur! Assumenda, cumque.
        Amet quidem eius debitis, enim voluptatem ipsum velit, optio voluptatum laudantium eum quo laborum
        doloribus. Illum dolore debitis recusandae sapiente earum assumenda? Facilis, neque! Nostrum earum rerum
        alias recusandae? Debitis!
        Necessitatibus expedita, temporibus facilis numquam accusamus nemo placeat officiis. Ex praesentium
        veritatis autem dolorem sequi ab deleniti. Rem ex vitae, illo earum beatae debitis nisi vero tempora dolorem
        repudiandae officia.
        Distinctio corporis ad necessitatibus rerum doloremque veniam recusandae est! Accusantium tempora, harum
        dolorem, labore velit beatae dolores impedit facere consequatur sit mollitia laboriosam veritatis. Officiis
        modi omnis ipsam neque voluptate.
        Vitae, dolorum provident quis iste perferendis architecto atque. Sed quasi dolore quidem earum
        reprehenderit, nostrum, itaque nesciunt minus autem voluptate eaque. Hic corporis dolore numquam rem
        mollitia distinctio quo doloremque?
        At nulla, quasi repellendus quia placeat ad aliquid voluptas praesentium excepturi perspiciatis illum cumque
        molestias voluptatum, non et saepe. Totam est commodi perspiciatis eum reiciendis rem alias perferendis
        neque nesciunt.
    </li>
</ol>
